<!DOCTYPE html>
<html>
    <head>
        <title>hello max</title>
        <script type="text/javascript" src="lib/socket.io-client/dist/socket.io.js"></script>
        <script type="text/javascript" src="static/js/hello.js"></script>
    </head>
    <body>
        <p>hi there</p>
    </body>
</html>
